a {
    text-decoration: none;
}
a:link {
    color: red;
}
a:visited {
    color:purple;
}
a:hover {
    color: green;
}
a:active {
    color:lime
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: yellow;
}
#colorna {
    color:orange;
    text-align: center;
    font-size: 20px;
}
li {
    font-size: 15px;
}