.caixa1{
    display: inline-block;
    width: 100%;
    text-align: center;
    align-items: center;
}
.caixa2{
    display: inline-block;
    width: 100%;
    text-align: center;
    align-items: center;
}
.caixa3{
    display: inline-block;
    width: 100%;
    text-align: center;
    align-items: center;
}
.caixa{
    border: green solid 2px;
    display: inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 1em;
}
.lista1{
    display: inline;
    text-align: left;
}
#verd1{
    border: greenyellow 4px solid;
    width: 100%;
}
.caixa1-1-1{
    border: dotted 2px green;
    width: 100%;
}
.caixa1-1-2 , .caixa1-1-3 , .caixa1-1-4 { 
    border-left:dotted 2px green ;
    border-right:dotted 2px green ;
    border-bottom:dotted 2px green ;
    border-top: dotted 2px green;
    width: 100%;
}
.caixa1-1-5  , .caixa1-1-6 , .caixa1-1-7 , .caixa1-1-8 , .caixa1-1-9{
    border-left:dotted 2px blue ;
    border-right:dotted 2px blue ;
    border-bottom:dotted 2px blue ;
    border-top: dotted 2px blue;
    width: 100%;
}
.caixa1-1-10 , .caixa1-1-11 , .caixa1-1-12 , .caixa1-1-13{
    border-left:dotted 2px red ;
    border-right:dotted 2px red ;
    border-bottom:dotted 2px red ;
    border-top: dotted 2px red;
    width: 100%;
} 
#rojo1{
    border: red 4px solid;
    width: 100%;
}


